<form [formGroup]="newLocationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name: </label>
    <input type="text" formControlName="name" />
  </div>
  <div>
    <label for="description">Description: </label>
    <textarea type="text" formControlName="description"></textarea>
  </div>
  <button type="submit" [disabled]="!newLocationForm.valid">Create</button>
</form>

@for (location of locations$ | async; track location.id) {
  <div>
    <div>{{ location.name }}</div>
    <div>{{ location.description }}</div>
    <a routerLink="{{ location.id }}">Edit</a>
  </div>
}
