<div class="screen">
  <div class="main">
    <div id="status">
      <div class="status-field">
        <div class="status-label">Level</div>
        <div class="status-value">{{ level() }}</div>
      </div>
      <div class="status-field">
        <div class="status-label">Experience</div>
        <div class="status-value">{{ experience() }}</div>
      </div>
      <div class="status-field">
        <div class="status-label">Wood</div>
        <div class="status-value">{{ woodSignal() }}</div>
      </div>
      <div class="status-field">
        <div class="status-label">Axe condition</div>
        <div class="status-value">{{ axeCondition() }}</div>
      </div>
    </div>
    <div id="location-picture" #locationPicture>
      <!--<div id="location-description">
        Nestled on the outskirts of the quaint village of Veilwood, the Lumberyard stands as a bustling testament to the
        harmonious relationship between the people and the ancient forest that surrounds them. As you step into this woodland
        realm, the air is thick with the earthy scent of damp moss and the invigorating aroma of freshly cut timber. Towering
        trees, their trunks like ancient sentinels, stretch skyward, their leaves whispering secrets to the gentle breeze.
      </div>-->
    </div>
    <div id="character"></div>
  </div>
</div>
