<div class="main" [ngClass]="{ 'main-menu-background': hd.enabled }">
  <img alt="TypingRealm" class="caption" src="assets/menu/caption.png" />
  <div class="main-menu"></div>
  <div class="intro">
    In the kingdom of Typingrealm, words held unimaginable power. Each keystroke was a spark of magic, a thread of creation that
    could shape the world itself. The Typists, masters of this arcane craft, were revered across the land for their ability to
    weave spells with their fingertips, turning the written word into forces of nature. But a shadow loomed over Typingrealm. Dark
    forces, long forgotten, began to stir, seeking to corrupt the magic that bound the kingdom together. As chaos threatened to
    unravel the delicate balance, hope rested on a prophecy—one that spoke of a chosen Typist, whose mastery over words would be
    the key to saving the realm from destruction. Now, that Typist must rise to face the growing darkness, armed only with the
    power of words and the strength of their will. The future of Typingrealm hangs in the balance, and every letter may be their
    last hope...
  </div>
  <div id="start-game"></div>
  <div style="font-size: 0.7rem">(type this to start the game)</div>
</div>
